#Options {
  div.main-sub-cat {
    text-align: center;
    margin: 0.5rem 0;
    font-weight: bold;
    font-size: 0.9rem;

    a.active-cat {
      font-weight: bolder;
      font-size: 1.2rem;
      text-decoration: underline;
    }
  }
}
