@import "../fonts-and-colors";
div .row {
  margin-top: 3rem;
  position: relative;
  div.ajax-gif {
    width: 100%;
    height: 100%;

    background-color: rgba(238, 238, 238, 0.33);
    z-index: 99999;
    position:absolute;
    display: none;
    img {
      position: fixed;

      top: 40%;
      left: 50%;
    }

  }

  #Options {
    margin-bottom: 3rem;
    padding: 0;

    h2.attribute-name {
      font-family: 'Lobster', cursive;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      border-bottom: 2px solid gainsboro;
      margin-bottom: 3rem;
      letter-spacing: 3px;
      background-color: $navigation-hover-color;
      padding: 0.7rem;
      font-size: 1.5rem;

      i {
        font-size: 1rem;
        vertical-align: middle;
      }
    }

   //div.price-block {
   //  display: flex;
   //  justify-content: space-between;

   //  div {
   //    width: 40%;
   //    text-align: center;
   //  }
   //}

    div.filter-type-section {
      border: 1px solid gainsboro;
      margin-bottom: 2rem;
      padding-bottom: 3rem;
      box-shadow: 9px 10px 2px -4px rgba(0,0,0,0.31);



    }

    #productFilterSection {

      div.options {
        padding: 0 0.7rem;

        div.option {
          width: 100%;
          display: flex;
          justify-content: center;
          padding: 0.3rem 0;
          align-items: baseline;
          div.input-block {
            text-align: right;
            width: 30%;
            padding-top: 3px;

            input {
              cursor: pointer;
              height: 14px;
              width: 14px;
              background-color: $navigation-hover-color;
              vertical-align: middle;

            }
          }

          div.label-input-block {
            width: 70%;
            padding-left: 1rem;

            label {
              width: 100%;
              font-family: 'Didact Gothic', sans-serif;
              cursor: pointer;
              font-size: 1rem;
              text-align: left;
            }
          }
        }
      }

      div.clear-filters {
        button {
          cursor: pointer;
          border-radius:38px;
          text-indent:0;
          border:1px solid #4bd6c5;
          display: block;
          color:#ffffff;
          font-family: 'Didact Gothic', sans-serif;
          font-size:15px;
          font-weight:bold;
          font-style:normal;
          height:2rem;
          margin: 1rem auto;
          width:118px;
          text-align:center;
          background-color: #4bd6c5;
        }
      }

    }

  }
}


@media (max-width: 1260px) {

  div .row #Options #productFilterSection div.options div.option div.input-block {
    width: 20%;
  }
  div .row #Options #productFilterSection div.options div.option div.label-input-block {
    width: 80%;

  }
}
@media (max-width: 991px) {
  div .row #Options #productFilterSection div.filter-type-section {
    padding-bottom: 0;
     h2 {
       margin-bottom: 0;
     }
  }
  div .row #Options #productFilterSection div.options div.option div.input-block {
    width: 40%;
  }
  div .row #Options #productFilterSection div.options div.option div.label-input-block {
    width: 50%;
  }
}

@media (max-width: 650px) {
  div .row #Options #productFilterSection div.options div.option div.input-block {
    width: 35%;
  }
  div .row #Options #productFilterSection div.options div.option div.label-input-block {
    width: 50%;
  }
}